/******* GÉNÉRAL *******/

::-moz-selection{
    background: $primary;
    color: $white;
    text-shadow: none;
}
::selection{
    background: $primary;
    color: $white;
    text-shadow: none;
}

html{
    font-size: 62.5%; /* sets the base font to 10px for easier math */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    background: $black;
}

body{
    min-height: 100vh;
    font-family: $aromatica-semi-bold;
    font-size: 1.6em;
    line-height: 1.2;
    background: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.hide-overflow {
        overflow: hidden;
    }
}

main{
    min-height: calc(100vh - 93px - 273px);
    padding: 100px 0 150px;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}

h1, .h1{
    font-size: 6rem;
    letter-spacing: 6px;
    margin: 10px 0 5px;
    font-family: $aquawax-bold;
    color: $black;
    text-transform: uppercase;
    text-align: center;
    &.small{
        font-size: 4.8rem;
        margin: 0.45em 0;
    }
}

h2, .h2{
    font-family: $aromatica-script;
    font-size: 4.8rem;
    color: $primary;
    text-transform: none;
    letter-spacing: 0;
    margin: 0;
    .wrapper-content &{
        font-family: $aquawax-bold;
        font-size: 3.6rem;
        color: $black;
    }
}

h3, .h3{
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 0;
    font-family: $aquawax-bold;
    text-transform: uppercase;
    text-align: center;
    .wrapper-content &{
        font-family: $aromatica-script;
        font-size: 3rem;
        color: $primary;
        text-transform: none;
        letter-spacing: initial;
    }
    &.underlined{
        display: flex;
        justify-content: center;
        margin: 6rem 0 4rem;
        > span{
            position: relative;
            padding-bottom: 10px;
            &:after{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 3px;
                background-color: $primary;
            }
        }
    }
}

h4{
    font-size: 2.2rem;
    margin: 1.33em 0;
}

h5{
    font-size: 2rem;
    margin: 1.67em 0;
}

h6{
    font-size: 1.8rem;
    margin: 2.33em 0;
}

p{
    font-size: 1.6rem;
    margin: 1em 0;
    line-height: 1.1;
}

b, strong{
    font-family: $aromatica-bold;
}

i, em{

}

blockquote{
    margin: 1em 40px;
}

ol, ul{
    padding: 0;
    margin: 1em 0;
}
ul{
    list-style-type: none;
    > li {
        margin: 5px 0;
        &:before{
            content: '';
            position: relative;
            top: -3px;
            display: inline-block;
            height: 5px;
            width: 5px;
            margin-right: 10px;
            background-color: $primary;
            border-radius: 50%;
        }
    }
    ul{
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}
ol{
    counter-reset: ol-counter;
    > li{
        counter-increment: ol-counter;
        &:before{
            content: counter(ol-counter)'.';
        }
    }
    ol{
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

dt, dd{
    display: inline;
    margin: 0;
}
dt{
    &:after{
        content: ': ';
    }
}
dd{
    + dt{
        &:before{
            content: '\A';
            white-space: pre;
        }
    }
    + dd{
        &:before{
            content: ', ';
            margin: 0 0 0 -0.25em;
        }
    }
}

img{
    max-width: 100%;
    height: auto;
    // max-height: 50vh;
    .wrapper-content &{
        width: 100%;
        margin-bottom: 25px;
    }
    .wrapper-content.container-small &{
        width: calc(100% + 360px);
        margin-left: -180px;
        margin-right: -180px;
        max-width: none;
    }
}

code, pre{
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

hr{
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 3em auto 5em;
    background: $black;
}


/******* LIENS / BOUTONS *******/

a{
    color: inherit;
    text-decoration: none;
    transition: $transition;
    &:focus, &:hover{
    }
    &:focus{
        outline: 0;
    }
    &:active{
        filter: saturate(200%);
    }
}


/******* CLASSES GENERALES  *******/

.hidden{
    display: none !important;
}
.visually-hidden{
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    margin: -1px;
    overflow: hidden;
}

.clearfix{
    @include clearfix;
}

.pos-relative{
    position: relative;
}

.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}

.inline-b{
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-.1em);
}

.full-width{
    width: 100%;
}

.wrapper-content{
    font-family: $aromatica;
}

.icon{
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.img-fit{
    &.compat-object-fit{
        background-size: cover;
        background-position: 50% 50%;
        img{ // hide image if object fit is not supported - opacity to 0 for the link area
            opacity: 0;
        }
    }
}

.separator{
    color: $primary;
}

@media(max-width: $desktop){
    img{
        .wrapper-content.container-small &{
            width: calc(100vw - 40px);
            margin-left: calc((100vw - 740px) / -2);
            margin-right: calc((100vw - 740px) / -2);
        }
    }
}

@media(max-width: $tablet){
  h1 {
    font-size: 4.5rem;
    &.small {
      font-size: 4rem;
    }
  }
  main {
    padding: 200px 0 50px;
  }
  img{
    .wrapper-content.container-small &{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
  }
}

@media(max-width: $phone){
  h1 {
    font-size: 4rem;
    &.small {
      font-size: 3.5rem;
    }
  }
  main {
    padding: 140px 0 100px;
  }
  img{
    .wrapper-content.container-small &{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
  }
}
