// Variables //


// Colors
$white: #fff;
$black: #000;
$primary: #ffb1b9;
$secondary: #e8e1de;
$grey: #ede6e3;


// Transitions
$transition: 0.3s ease-in-out;


// Fonts
$moon: 'moon', sans-serif;
$aromatica: 'aromatica', sans-serif;
$aromatica-semi-bold: 'aromatica-semi-bold', $aromatica;
$aromatica-bold: 'aromatica-bold', $aromatica-semi-bold;
$aromatica-script: 'aromatica-script', $aromatica;
$aquawax-bold: 'aquawax-bold', $aromatica-semi-bold;


// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$desktop: '1100px';
$desktop-small: '960px';
$tablet: '780px';
$phone: '580px';
$phone-small: '400px';


// Grid
$col: 100/12*1%;
$gutter: 10px;

// Mosaic h2
$h2SizeBigSquare: 4.5rem;
$h2SizeBigSquareDesktop: 3rem;

$h2SizeVRect: 4.5rem;
$h2SizeVRectDesktop: 2rem;

$h2SizeHRect: 3rem;
$h2SizeHRectDesktop: 2rem;

$h2SizeSmallSquare: 2.25rem;
$h2SizeSmallSquareDesktop: 2rem;

$h2SizePhone: 2rem;

// Mosaic .categories
$categoriesSizeBigSquareDesktop: 1rem;

$categoriesSizeVRectDesktop: 1rem;

$categoriesSizeHRectDesktop: 1.25rem;

$categoriesSizeSmallSquare: 2.25rem;
$categoriesSizeSmallSquareDesktop: 1.2rem;

$categoriesSizePhone: 1.25rem;

// Mosaic .subtitle
$subtitleSizeBigSquareDesktop: 2.4rem;

$subtitleSizeVRectDesktop: 2.5rem;

$subtitleSizeHRectDesktop: 2.5rem;

$subtitleSizeSmallSquare: 2.25rem;
$subtitleSizeSmallSquareDesktop: 2rem;

$subtitleSizePhone: 2rem;
