.expert{
    padding: 0 0 100px;
    position: relative;
}

.expert-cloud{
    max-width: 320px;
    min-height: 280px;
    padding: 10px 10px 20px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    &:nth-of-type(1){
        top: 10%;
        left: 5%;
        > .bubble{
            &:nth-of-type(2){
                &:before, &:after{
                    width: 180px;
                    height: 180px;
                }
                &:before{
                    right: -26px;
                    top: 10px;
                }
                &:after{
                    left: -30px;
                    bottom: 0;
                }
            }
            &:nth-of-type(3){
                &:before, &:after{
                    width: 185px;
                    height: 175px;
                }
                &:before{
                    right: -75px;
                    bottom: -5px;
                }
                &:after{
                    left: -50px;
                    top: -10px;
                }
            }
        }
    }
    &:nth-of-type(2){
        top: -10%;
        right: 3%;
        > .bubble{
            &:nth-of-type(2){
                &:before, &:after{
                    width: 200px;
                    height: 180px;
                }
                &:before{
                    right: -70px;
                    top: -5px;
                }
                &:after{
                    left: -50px;
                    bottom: 0;
                }
            }
            &:nth-of-type(3){
                &:before, &:after{
                    width: 185px;
                    height: 175px;
                }
                &:before{
                    right: -25px;
                    bottom: 5px;
                }
                &:after{
                    left: -25px;
                    top: -20px;
                }
            }
        }
    }
    &:nth-of-type(3){
        top: 40%;
        right: 10%;
    }
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 50%;
        //overflow: hidden;
        background: $grey;
        transform: translate3d(0, 0, 0) scale(0.6);
        transform-origin: 50% 50%;
        transition: $transition 0.1s;
        backface-visibility: hidden;
        &:after{
            content: '';
            display: block;
            height: 110%;
            //border-radius: 50%;
            //background: radial-gradient(circle closest-side, $white 50%, transparent 85%);
            background: url(../layoutImg/gradient.svg) no-repeat 0 0 / 100%;
            //opacity: 0.7;
            transform: scale(1.25);
            transform-origin: 50% 50%;
        }
    }
    > h4{
        padding: 0.3em 0 0.3em;
        margin: 0;
        font-family: $aromatica-script;
        font-size: 6rem;
        line-height: 0.8;
        text-align: center;
        transform-origin: 50% 50%;
        transform: translate3d(0, 105%, 0) scale(0.6);
        transition: $transition 0.1s;
        &.big{
            transform: translate3d(0, 50%, 0) scale(0.6);
        }
    }
    .expert-txt{
        opacity: 0;
        transition: $transition;
    }
    > .bubble{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
        transform: translate3d(0, 0, 0) scale(0.6);
        transform-origin: 50% 50%;
        transition: $transition 0.1s;
        &:before, &:after{
            content: '';
            position: absolute;
            border-radius: 50%;
            background: $grey;
        }
        &:first-of-type{
            transition-duration: 0.4s;
            &:before, &:after{
                width: 200px;
                height: 200px;
                left: 0;
                right: 0;
                margin: auto;
            }
            &:before{
                top: -70px;
            }
            &:after{
                bottom: -70px;
            }
        }
        &:nth-of-type(2){
            transition-duration: 0.35s;
            &:before, &:after{
                width: 180px;
                height: 170px;
            }
            &:before{
                right: -45px;
                top: -10px;
            }
            &:after{
                left: -60px;
                bottom: 5px;
            }
        }
        &:nth-of-type(3){
            transition-duration: 0.47s;
            &:before, &:after{
                width: 160px;
                height: 160px;
            }
            &:before{
                right: -30px;
                bottom: -5px;
            }
            &:after{
                left: -20px;
                top: 20px;
            }
        }
    }
}

.sheep{
    display: block;
    max-width: 325px;
    min-width: 250px;
    position: relative;
    margin: 0 auto;
    z-index: 10;
    overflow: visible !important;
}


@media (min-width: $desktop-small){
    .expert-cloud{
        &:hover{
            z-index: 2;
            > h4, > h4.big, > .bg, > .bubble{
                transform: translate3d(0, 0, 0) scale(1);
                transition: $transition;
            }
            > h4{
                color: $primary;
            }
            .expert-txt{
                opacity: 1;
                transition: 0.3s $transition;
            }
        }
    }
}


@media (max-width: $desktop){
    .expert{
        padding: 0 0 200px;
        > .sheep{
            width: 27%;
        }
    }
}

@media (max-width: $desktop-small){
    .sheep{
        display: none;
    }

    .expert{
        padding: 0 0 30px;
    }

    .expert-cloud{
        max-width: 500px;
        min-height: 0;
        position: static;
        margin: 0 auto 20px;
        border-radius: 0;
        > .bg, > .bubble{
            display: none;
        }
        > h4{
            font-size: 4.5rem;
        }
        > h4, > h4.big{
            transform: none;
        }
        .expert-txt{
            opacity: 1;
        }
    }
}

@media (max-width: $phone){
    .expert-cloud{
        > h4{
            font-size: 4rem;
            text-align: left;
        }
    }
}
