/* Footer */
.footer{
    .top{
        text-align: center;
        .border-top{
            height: 20px;
            background: linear-gradient(to bottom, #f2ece9 0%, #f4f0ed 100%);
            mask: url('../layoutImg/mask.svg');
        }
        .content-top{
            padding: 30px 0 50px;
            background: linear-gradient(to bottom, #f4f0ed 0%, $white 100%);
        }
    }
    h4{
        font-family: $moon;
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    address{
        font-style: normal;
    }
}
.wrapper-contact, .email{
    font-family: $moon;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.wrapper-contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.email{
    margin-top: 5px;
}
.subfooter{
    padding: 30px 0 80px;
    background: $black;
}
.menu-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    > li{
        margin: 0 10px;
        &:before{
            content: none;
        }
    }
    a{
        font-family: $moon;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $white;
    }
}
