/* Header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;;
    border-top: 25px solid $black;
    background: $white;
    z-index: 10;
    .container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
}

.social{
    display: flex;
    padding: 15px 0;
    justify-content: flex-end;
    > *:nth-child(2){
        margin-left: 15px;
    }
}

.wrapper-logo, .social{
    width: 120px;
}

.wrapper-logo{
    margin: 20px 0 0;
}

.menu{
    position: relative;
    z-index: 1;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    a{
        display: block;
        padding: 20px 15px 10px;
        font-family: $moon;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: $white;
    }
}

.menu-indicator{
    width: 46px;
    height: 17px;
    position: absolute;
    left: 0;
    z-index: -1;
    &.top{
        top: -17px;
        .bubble{
            background: $white;
        }
    }
    &.bottom{
        bottom: -17px;
        transform-origin: 50% 50%;
        transform: scale(-1);
        .bubble{
            background: $primary;
        }
    }
    .bubble{
        position: absolute;
        border-radius: 50%;
        transform-origin: 50% 100%;
        transform: scale(0);
        &:nth-child(1){
            width: 20px;
            height: 20px;
            left: 0;
            top: 6px;
        }
        &:nth-child(2){
            width: 25px;
            height: 25px;
            left: 8px;
            top: 0;
        }
        &:nth-child(3){
            width: 20px;
            height: 20px;
            right: 0;
            top: 10px;
        }
    }
}
