/* Header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;;
    border-top: 25px solid $black;
    padding: 15px 0;
    background: $white;
    z-index: 2;
    .container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
}
.wrapper-logo, .social{
    width: 120px;
}
.menu{
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        > li{
            margin: 0 15px;
            padding: 0;
        }
    }
    a{
        font-family: $moon;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}
