.more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    margin: 7.5vh auto 5vh;
    .left-legs,
    .right-legs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 25%;
    }
    .leg {
        display: inline-block;
        position: relative;
        width: 3%;
        height: 10vh;
        border-radius: 2.5vw;
        background-color: $primary;
        &.cotton {
            &:before {
                content: '';
                position: absolute;
                width: 1.35vw;
                height: 1.35vw;
                top: 0;
                left: 50%;
                border-radius: 50%;
                background-color: $grey;
                transform: translate(-50%, -50%);
            }
        }
        .icon-hoove {
            position: absolute;
            width: 1.45vw;
            height: 1.45vw;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
        }
    }
    .left-legs {
        .leg {
            &:nth-of-type(1),
            &:nth-of-type(3),
            &:nth-of-type(8),
            &:nth-of-type(9) {
                height: 3.33vh;
            }
            &:nth-of-type(2),
            &:nth-of-type(5),
            &:nth-of-type(7) {
                height: 5vh;
            }
            &:nth-of-type(4) {
                height: 6.66vh;
            }
        }
    }
    .right-legs {
        .leg {
            &:nth-of-type(1),
            &:nth-of-type(4) {
                height: 6.66vh;
            }
            &:nth-of-type(2),
            &:nth-of-type(5),
            &:nth-of-type(8),
            &:nth-of-type(9) {
                height: 3.33vh;
            }
            &:nth-of-type(3),
            &:nth-of-type(7) {
                height: 5vh;
            }
        }
    }
    .box {
        position: relative;
        width: 25%;
        background: url('../layoutImg/head-box.svg') no-repeat 100% 50%;
        transform: translate3d(0, 0, 0);
        &:before {
            content: '';
            display: block;
            padding: 0 0 97%;
        }
        .small-cloud {
            top: 17.5%;
            left: 50%;
            transform: translate(-47.5%, -100%);
            transition: none;
            p {
                min-width: 125px;
                margin: 0.5em;
                font-size: 3rem;
                text-align: center;
            }
        }
    }
}

@media (max-width: $desktop) {
    .more {
        .leg {
            width: 2.5%;
            &.cotton {
                &:before {
                    width: 1.75vw;
                    height: 1.75vw;
                }
            }
            .icon-hoove {
                width: 1.85vw;
                height: 1.85vw;
                transform: translate(-47.5%, -100%);
            }
        }
        .box {
            .small-cloud {
                p {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@media (max-width: $tablet) {
    .more {
        .left-legs,
        .right-legs {
            display: none;
        }
        .box {
            width: 35%;
            .small-cloud {
                p {
                    min-width: 50%;
                }
            }
        }
    }
}

@media (max-width: $phone) {
    .more {
        .box {
            width: 50%;
        }
    }
}

@media (max-width: $phone) {
    .more {
        margin-top: 10vh;
        .box {
            width: 65%;
        }
    }
}
