.company{
    h2{
        font-family: $aquawax-bold;
        text-transform: uppercase;
        color: $black;
        letter-spacing: 4.8px;
        font-size: 4.8rem;
        margin: 20px 0 0;
    }
    p {
        font-size: 3rem;
        margin: 5px 0 0;
    }
}

.wrapper-slider{
    margin: 0 0 40px;
}

.slider-title{
    position: relative;
    text-align: center;
    height: 6rem;
    width: 100%;
    margin: 10px 0 5px;
    > h2{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transform: translateY(-10px);
        margin: 0;
        letter-spacing: 0.1em;
        &.active{
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.slider-subtitle{
    position: relative;
    text-align: center;
    height: 4.8rem;
    width: 100%;
    > h3{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transform: translateY(-10px);
        &.active{
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.slides{
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
    .clouds{
        z-index: 3;
        height: 600px;
        width: 600px;
        &.c-3{
            left: 46%;
        }
        &.c-2{
            left: 15%;
        }
    }
}

.slide{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0;
    a{
        display: block;
        width: 100%;
        height: 100%;
    }
    &.active{
        opacity: 1;
    }
}

.bullets{
    text-align: right;
}

.bullet{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: $grey;
    margin: 0 0 15px 8px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        transform-origin: 70% 100%;
        transform: rotate(-180deg) scale(0.5);
        transition: $transition;
        background-color: $primary;
    }
    &.active, &:hover, &:focus{
        &:before{
            transform: rotate(0deg) scale(1);
        }
    }
}

@media (max-width: $desktop){
    .slider-title{
        height: 5vw;
        .h1{
            font-size: 5vw;
        }
    }
    .slider-subtitle{
        height: 4vw;
        .h2{
            font-size: 4vw;
        }
    }
}

@media (max-width: $tablet){
    .slider-title{
        height: 5vw;
        .h1{
            font-size: 5vw;
        }
    }
    .slider-subtitle{
        height: 6vw;
        .h2{
            font-size: 6vw;
        }
    }
}

@media (max-width: $phone){
  .company {
    h2 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
  .slides {
    height: 400px;
  }
  .slider-title{
    height: 5.75vw;
    .h1{
        font-size: 5.75vw;
    }
  }
  .slider-subtitle{
    height: 7vw;
    .h2{
        font-size: 7vw;
    }
  }
}

@media (max-width: $phone-small){
  .slides {
    height: 250px;
  }
  .slider-title{
    height: 5.25vw;
    .h1{
        font-size: 5.25vw;
    }
  }
  .slider-subtitle{
    height: 8vw;
    .h2{
        font-size: 8vw;
    }
  }
}
