/* Project */
.wrapper-title{
    position: relative;
    text-align: center;
    margin-bottom: 5px;
    .actions{
        position: absolute;
        top: 50%;
        right: 0;
        margin: -15px 0 0;
    }
}
.actions{
    display: flex;
    align-items: center;
    > a{
        margin-left: 25px;
    }
    .icon{
        width: 100%;
        height: 100%;
        color: $secondary;
    }
    .prev-project, .next-project{
        width: 25px;
        height: 30px;
    }
    .grid-project{
        width: 30px;
        height: 30px;
    }
}
.clouds-wrapper{
    opacity: 0.85;
    &.news-clouds-wrapper{
        opacity: 1;
    }
}
.clouds{
    position: absolute;
    top: -4%;
    left: -23%;
    display: block;
    border-radius: 50%;
    background-color: $primary;
    height: 100%;
    width: 100%;
    transform-origin: 50% 50%;
    transform: scale(0.05);
    opacity: 0;
    &.c-2{
        top: -19%;
        left: 5%;
    }
    &.c-3{
        top: 11%;
        left: 6%;
    }
}
.wrapper-content{
    position: relative;
}
.content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: $white;
    border-bottom: 4px solid $primary;
}
.project-link{
    display: block;
    overflow: hidden;
    .no-js &, .is-mobile & {
      .overlay{
        opacity: 1;
      }
    }
    .overlay{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 20px;
        text-align: center;
        opacity: 0;
        z-index: 2;
        .no-js & {
            transition: $transition;
            background-color: rgba($primary, 0.85);
        }
        .is-mobile & {
            transition: $transition;
            background-color: rgba($primary, 0.70);
        }
    }
    &.h-rect .clouds{
        width: 50%;
        top: 10%;
        left: -23%;
        &.c-2{
            top: 10%;
            left: 2%;
        }
        &.c-3{
            top: 10%;
            left: 43%;
        }
    }
    &.v-rect .clouds{
        height: 50%;
        top: -5%;
        left: -15%;
        &.c-2{
            top: 25%;
            left: 6%;
        }
        &.c-3{
            top: 56%;
            left: -3%;
        }
    }
    // &:hover{
    //     .clouds{
    //         transform: scale(1.8);
    //     }
    // }
    .categories{
        font-family: $aquawax-bold;
        font-size: 1.5rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    h2{
        font-family: $aquawax-bold;
        font-size: 4.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: 0.45em 0;
        color: $black;
    }
    .subtitle{
        font-family: $aromatica-script;
        font-size: 3.6rem;
        color: $white;
    }
}
@media (max-width: $phone-small) {
  .wrapper-title{
    .actions{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 100%);
        & > a {
          margin-left: 32.5px;
        }
        .grid-project {
          width: 20px;
          height: 20px;
        }
        .next-project, .prev-project {
          width: 16.67px;
          height: 20px;
        }
    }
  }
  .wrapper-content{
    margin-top: 50px;
  }
}
